# Xcode関連
#
# gitignoreの更新時は、Global/Xcode.gitignore、Objective-C.gitignore、Swift.gitignoreも更新してください

## ユーザー設定
xcuserdata/

## ビルド関連
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser

## Objective-C/Swift固有のファイル
*.hmap

## パッケージング
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/

# macOSシステムファイル
.DS_Store
.AppleDouble
.LSOverride

# 環境変数とシークレット
*.env
*.pem
*.p12
*.cer
*.mobileprovision 